Add a "passthrough" option to backend

The easy way:
1. Accepts an API output that indicates "passthrough" a designated backend **on "none" auth request**;
2. Start a backend connection with initial "none" auth request;
3. Forward authentication requests directly. All authentication should be accepted, including "publickey".

The hard way:
1. Accepts an API output that indicates "passthrough" a designated backend **on any auth request**;
2. Start a backend connection and replays the current public key or password;
3. Forward subsequent authentication requests directly. Authentication methods should be filtered if necessary.

I am convinced that this is not possible, in particular we cannot forward the `publickey` auth type. Even if we do forward `password` auth, it'd be rather pointless (without `publickey` support).

According to [RFC 4252 section 7](https://datatracker.ietf.org/doc/html/rfc4252#section-7), the possession of the private key is proved by signing a series of data, which includes most notably the "session ID". The "session ID" is defined by [RFC 4253 section 7.2](https://datatracker.ietf.org/doc/html/rfc4253#section-7.2) to be the exchange hash of the first key exchange, so it cannot be forged into arbitrary values.

This means we cannot make the client produce a signature that will be accepted by the upstream server, unless we either:

- Happen to come to an identical exchange hash for both connections (practically impossible), or
- Have the client's private key at hand (out of scope).

Until further research implies feasibility of this idea, I'm going to close this issue for now.